// Sass
$spaceamounts: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10);
$sides: (top, bottom, left, right);
$breakpoint-tablet:768px;
$tonap-color: #3177B1; // rgb(59,138,204);
$tonap-color-hover: #85d4ec;
$tonap-p-text: #47535D; // rgb(128,142,153);
$break-large:1200px;
$break-medium:992px;
$break-small:768px;
$break-xsmall:576px;

html{
  overflow-y: scroll;
}

*{
  font-family: "Montserrat", Fallback, sans-serif;
}

.text-center{
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}

#wrapper {
  background-color: #fff; // #fafafa;
  width: 100%;
  height: 100%;

  #navMenu{
    position: fixed;
    background-color:white;
    z-index: 1005;
    padding: 0;
  }
  .nav-menu{
    position: relative;
    .row{
      align-items: center;
    }
    .logo{
      max-width: 150px;
      img {
        width: 100%;
      }
      @media screen and (max-width: $break-small) {
        padding: 10px 4px;
        margin-left: 15px;
      }
    }
    .show-menu{
      color: #fff;
      display: none;
      float: right;
      border: none;
      outline: none;
      position: relative;
      margin: 0 auto;
      margin-right: 0;
      cursor:pointer;
      img{
        width: 40px;
      }
      @media screen and (max-width: $breakpoint-tablet) {
        display: block;
      }
      @media screen and (max-width: $break-small) {
        margin-right: 15px;
      }
    }
    input[type=checkbox]{
      display: none;
    }
    input[type=checkbox]:checked ~ #menu{
      display: block;
    }
    #menu{
      list-style-type: none;
      margin: 0;
      padding: 0;
      @media screen and (max-width: $breakpoint-tablet) {
        position: static;
        display: none;
      }
      @media screen and (max-width: $break-small) {
        min-height: 100vh;
      }
      li{
        display: inline-block;
        margin-right: 1px;
        @media screen and (max-width: $breakpoint-tablet) {
          margin-bottom: 1px;
          width: 100%;
        }
        a{
          display:block;
          font-size: .8rem; // 14px;
          text-align: center;
          color: $tonap-color;
          text-decoration: none;
          padding: 1.4rem .5rem;// 40px 10px;
          font-weight: 600;
          cursor: pointer;
          &:hover{
            color: $tonap-color-hover;
          }
          @media screen and (max-width: $break-medium) {
            font-size: 11px;
          }
          @media screen and (max-width: $break-small) {
            font-size: 16px;
            padding: 1rem;
            text-align: left;
            padding-left: 40px;
          }
        }
        .online-order{
          border: 2px solid $tonap-color;
          padding: .75rem 1rem; // 18px 20px;
          border-radius: 40px;
          &:hover{
            color:white;
            background: linear-gradient(to right,$tonap-color, #54bde2);
            border: 2px solid #fff; // transparent
            // padding: .75rem 1rem;
          }
        }
      }
    }
  }
  #header{
    background-color: $tonap-color;
    padding-top: 92px;
    // height: calc(100vh - 92px);
    background-image: radial-gradient(farthest-corner at 70% 50%,#8cdff5 0%,$tonap-color 100%);
    position: relative;
    top: 55px; // 101px;
    overflow: hidden;

    /*.container-fluid {
      .container {
        .row {
          min-height: 688px;
        }
      }
    }*/

    @media screen and (max-width: $break-small) {
      height: unset;
    }
    .header-text{
      bottom: 150px;
      @media screen and (max-width: $break-medium) {
        bottom: 60px;
      }
      @media screen and (max-width: $break-small) {
        bottom: 10px;
      }
    }
    img{
      width: 100%;
    }
    h6{
      color:white;
      font-size: 26px;
      font-weight: 400;
      @media screen and (max-width: $break-small) {
        font-size: 24px;
      }
    }
    h3{
      color: white;
      font-size: 2.75rem; // 2.5rem;
      font-weight: 900;
      line-height: 1;
      font-family: Roboto, Fallback, sans-serif;
      
      @media screen and (max-width: $break-small) {
        font-size: 1.5rem;
      }
    }
    button{
      outline: none;
      border:none;
      background-color: white;
      color: $tonap-color;
      padding: 15px 30px;
      border-radius: 24px;
      font-weight: bold;
      font-size: 12px;
      margin-top: 30px;
      cursor: pointer;
      @media screen and (max-width: $break-small) {
        padding: 15px 16px;
      }
    }
  }
  #products {
    position: relative;
    bottom: 275px;
    @media screen and (max-width: $break-small) {
      position: relative;
      top: 100px;
      bottom: 0;
    }
    @media screen and (max-width: $breakpoint-tablet) {
      bottom: 0;
    }
    @media screen and (max-width: $break-large) {
      bottom: 200px;
    }
    @media screen and (max-width: $break-medium) {
      bottom: 70px;
    }

    .col-md-4 {
      padding: 25px;
      background-color: white;
      box-shadow: 0 0 10px 0 #9e9e9e;

      /*&:first-child {
        .icon {
          picture {
            width: 15%;
          }
        }
      }*/
      
      h4 {
        // width: 145px;
        // font-size: 28px;
        font-weight: bold;
        line-height: 1;
        margin-top: 16px;

        &.counter-h {
          // width: 145px;
          height: 25px;
          font-size: 1.2rem;

          /*&.first-h {
            width: 150px;
          }*/
        }

        @media screen and (max-width: $break-large) {
          font-size: 22px;
        }
        @media screen and (max-width: $break-medium) {
          font-size: 16px;
        }
        @media screen and (max-width: $break-small) {
          font-size: 26px;
        }
        span {
          &:last-child {
            left: 60%;
            // right: 0;
            @media screen and (max-width: $break-medium) {
              left: 80%;
            }
            @media screen and (max-width: $break-small) {
              left: 33%;
            }
            @media screen and (max-width: 450px) {
              left: 40%;
            }
            @media screen and (max-width: 380px) {
              left: 47%;
            }
          }
        }
      }
      p {
        font-size: 14px;
        color:$tonap-p-text;
        font-weight: 500;
        @media screen and (max-width: $break-medium) {
          font-size: 12px;
        }
        @media screen and (max-width: $break-small) {
          font-size: 16px;
        }
      }
      .divider{
        height: 6px;
        width: 90px;
        background-color: $tonap-color;
        margin-top: 24px;
        margin-bottom: 24px;
      }
      .icon{
        // display: flex;
        position: relative;

        picture{
          display: block;
          width: 20%;
          min-height: 70px;
  
          img {
            width: 100%;
          }
          @media screen and (max-width: $break-medium) {
            width: 20%; // 60px;
            // height: 60px;
          }
        }
        img{
          @media screen and (max-width: $break-medium) {
            width: 100%;
            // height: 100%;
          }
          @media screen and (max-width: $break-small) {
            width: 100%;
            // height: 100%;
          }
        }
        .textarea {
          position: absolute;
          top: 0;
          right: 0;
          display: block;
          // margin: 0 auto;
          width: 70%;
          h4{
            color:$tonap-color;
          }
          @media screen and (max-width: $break-small) {
            top:8px;
          }
        }
      }
      @media screen and (min-width: $breakpoint-tablet) {
        max-width: 31.333%;
      }
      @media screen and (max-width: $break-small) {
        margin: 0px 0px;
        box-shadow: none;
      }
    }
  }
  #productModal, #orderModal {
    .modal-body {
      img {
        width: auto;
        max-width: 350px;
        height: auto;
        max-height: 300px;
      }
      #productDescription {
        word-wrap: break-word;
      }
      p{
        font-size: 14px;
        padding-right: 20px;
        font-weight: 500;
        color:#808e99;
      }
    }
  }
  #aboutus{
    position: relative;
    bottom: 80px;
    @media screen and (max-width: $breakpoint-tablet) {
      bottom: 0;
      top:130px;
    }
    @media screen and (max-width: 450px) {
      bottom: 0;
      top: 100px;
    }
    img{
      width:100%;
    }
    h3{
      font-size: 2rem;
      font-weight: bold;
      line-height: 1;
      margin-top: 30px;
    }
    p{
      font-size: 14px;
      color: $tonap-p-text;
      font-weight: 500;
    }
    .divider{
      height: 6px;
      width: 90px;
      background-color: $tonap-color;
      margin-top: 24px;
      margin-bottom: 24px;
    }
    button{
      outline: none;
      border:none;
      background-color: white;
      color: $tonap-color;
      padding: 15px 50px;
      border-radius: 24px;
      border: solid 2px $tonap-color;
      font-weight: bold;
      font-size: 12px;
      cursor: pointer;
      margin-top: 20px;
      &:hover{
        color:white;
        background: linear-gradient(to right,$tonap-color, #54bde2);
        border: none;
        padding: 16px 52px;
      }
    }
  }
  #order {
    #productOdberniky {
      display: none;
    }
    #productSkumavky {
      display: none;
    }
    #orderTable {
      tr {
        th {
          white-space: nowrap;
        }
      }
    }
    .row {
      &> div {
        img {
          max-width: 190px;
          width: auto;
          max-height: 190px;
          min-height: 135px;
          height: auto;
          margin-top: .5rem;
        }
        .prod-header {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 75px;
        }
      }
    }
    select{
      font-size: 14px;
    }
    #submitOrder {
      &:disabled {
        background: linear-gradient(to right, #717273, #d0ebf5);
        cursor: auto;
      }
    }
  }
  #orderProduct {
    position: relative;
    bottom: 155px; // 90px; // 140px;

    @media screen and (max-width: $break-small) {
      top: 101px;
      padding-top: 20px;
    }
    .mainselect{
      width: 100%;
      #mainselect{
        display: block;
        margin: 0 auto !important;
      }
    }
    h3 {
      &.bigger {
        font-size: 2rem;
        font-weight: bold;
        line-height: 1;
        margin-top: 30px;
      }
    }
    h4{
      font-size: 32px;
    }
    p{
      font-size: 14px;
      color:$tonap-p-text;
    }
    .productRowContainer {
      .row {
        & > div {
          &:hover {
            h6 {
              color: $tonap-color;
            }
          }

          img {
            max-width: 190px;
            width: auto;
            max-height: 190px;
            min-height: 135px;
            height: auto;
            margin-top: .5rem;
          }
          p {
            font-size: .75rem;
            margin-bottom: 0.25rem;
            margin-top: 0.25rem;
          }
          .prod-header {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 75px;
          }
        }
      }
    }
    .col-lg-3{
      background-color: white;
      box-shadow: 1px 1px 18px 3px lightgrey;
      @media screen and (min-width: $break-medium) {
        max-width: 23%;
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 10px;
      }
    }
    .col-md-6{
      background-color: white;
      box-shadow: 1px 1px 18px 3px lightgrey;
      @media screen and (min-width: $break-xsmall) and (max-width: $break-medium) {
        max-width: 46%;
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 10px;
      }
    }
    .col-12{
      background-color: white;
      box-shadow: 1px 1px 18px 3px lightgrey;
      @media screen and (max-width: $break-xsmall) {
        max-width: 80%;
        margin: 0 auto;
        margin-bottom: 10px;
      }
    }
    button{
      outline: none;
      border:none;
      background-color: white;
      color: $tonap-color;
      padding: 15px 40px;
      border-radius: 24px;
      border: solid 2px $tonap-color;
      font-weight: bold;
      font-size: 12px;
      @media screen and (max-width: $break-large) {
        padding: 15px 40px;
      }
      cursor: pointer;
      // margin-top: 20px;
      margin-bottom: 20px;
      &:hover{
        color:white;
        background: linear-gradient(to right,$tonap-color, #54bde2);
        border: 2px solid #fff; // transparent
        // padding: 16px 52px;
        /*@media screen and (max-width: $break-large) {
          padding: 16px 42px;
        }*/
      }
    }
    .container {
      .productRowContainer {
        display: none;

        &:nth-child(1), &.active {
          display: block;
        }
      }
    }
    .productShowAllContainer {
      .line-trought {
        height: 0;
        width: calc(100% - 30px);
        top: calc(25% + 2px);
        left: 10px;
        border-bottom: 1px solid #e2e1e2;
        z-index: 1;
      }
      button {
        padding: 0;
        margin: 0;
        border: 0;
        background-color: #3b8acc;
        border-radius: 25px;
        width: 40px;
        height: 40px;
        color: #fff;
        position: relative;
        font-size: 1.5rem;
        z-index: 5;
      }
    }
    .showProducts{
      position: relative;
      .divider{
        background-color: rgb(223, 223, 223);
        width: 100%;
        height: 2px;
      }
      #showProducts{
        width: 30px;
        height: 30px;
        background-color: $tonap-color;
        border-radius: 30px;
        position: absolute;
        cursor:pointer;
        transition: 0.3s ease-in-out;
        &:hover{
          transform: scale(1.4);
        }
        img{
          filter: invert(100%);
          transform: rotate(90deg);
        }
      }
      #showProductsText{
        font-size: 16px;
        color:black;
        font-weight: bold;
      }
    }
    #moreProducts{
      max-height: 0px;
      overflow: hidden;
      transition: max-height 0.5s ease-in-out;
    }
    img{
      width: 100%;
    }
  }
  .contact{
    .right{
      background-color: #fff; // #f3f2f2;
    }
    #map{
      height: 400px;
    }
    .contactHolder{
      // margin-top: 20px;
      @media screen and (max-width: $break-medium) {
        position: relative !important;
      }
      input[type=text]{
        @media screen and (max-width: $break-medium) {
          width: 60% !important;
        }
        @media screen and (max-width: $break-small) {
          width: 80% !important;
        }
      }
      textarea{
        @media screen and (max-width: $break-medium) {
          width: 60% !important;
        }
        @media screen and (max-width: $break-small) {
          width: 80% !important;
        }
      }
      input[type=submit]{
        @media screen and (max-width: $break-small) {
          margin: 0 auto !important;
          display: block;
          margin-top: 10px !important;
          margin-bottom: 10px !important;
        }
      }
      form{
        @media screen and (max-width: $break-small) {
          padding-bottom: 12px;
        }
      }
      .contactcard{
        @media screen and (max-width: $break-small) {
          position: relative;
          top: 10px;
          right: 0;
        }
      }
    }
    .contactform{
      background: linear-gradient(#3b8bcd, #55bee2);
      input[type=text]{
        width: 280px;
        margin-left: 40px;
        margin-top: 10px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid white;
        color: white;
        padding-bottom: 5px;
        margin-bottom: 5px;
        outline: none;
      }
      textarea{
        width: 280px;
        margin-left: 40px;
        margin-top: 10px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid white;
        color:white;
        font-size: 12px;
        ::placeholder {
          color: white;
          opacity: 1;

        }
      }
      h5{
        font-size: 24px;
        color:white;
        font-weight: bold;
        padding-left: 40px;
        padding-top: 30px;
      }
      input[type=submit]{
        margin-left: 80px;
        outline: none;
        border:none;
        background-color: transparent;
        color: white;
        padding: 15px 50px;
        border-radius: 24px;
        border: solid 1px white;
        font-weight: bold;
        font-size: 12px;
        cursor: pointer;
        margin-top: 20px;
        margin-bottom: 24px;
      }
      ::placeholder{
        color:white;
        opacity: 0.8;
        font-size: 12px;
      }
      
    }
    .contactcard{
      position: absolute;
      top: 70px;
      right: -115px;
      background-color: white;
      padding-bottom: 30px;
      padding-left: 20px;
      padding-right: 20px;
      box-shadow: 0 0 5px 0 #9e9c9c;
      @media screen and (max-width: $break-large) {
        right:-35px;
        padding-left: 10px;
        padding-right: 10px;
      }
      .info{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          width: 20px;
          -webkit-filter: invert(100%) grayscale(100%) brightness(38%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8);
          filter: invert(100%) grayscale(100%) brightness(38%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8);
        }
        p{
          color:$tonap-color;
          text-decoration: underline;
          font-weight: bold;  
          padding-left: 5px;
        }
      }
      h4{
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        padding-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
      }
      p{
        font-size: 12px;
        color:$tonap-p-text;
        text-align: center;
        margin-bottom: 1px;
      }
    }
  }
  .footer{
    position: relative;
    
    @media screen and (max-width: $breakpoint-tablet) {
      margin-top: 130px;
    }
    @media screen and (max-width: 450px) {
      margin-top: 100px;
    }
    .footerlinks{
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 20px 200px;
      @media screen and (max-width: $break-large) {
        padding: 20px 100px;
      }
      @media screen and (max-width: $break-small) {
        padding: 20px 10px;
        padding-top: 30px;
        display: block;
      }
      .footerlink{
        @media screen and (max-width: $break-small) {
          width: 100%;
          text-align: center;
        }
      }
      a{
        font-size: 14px;
        color:$tonap-p-text;
        &:hover{
          color:$tonap-color;
          text-decoration: underline;
        }
      }
      
    }
    .paylogo{
      img{
        display: inline;
        margin-left: 10px;
        height: 28px;
        width: 44px;
      }
    }
    img{
      display: block;
    margin: 0 auto;
    }
    p{
      font-size: 12px;
      color:$tonap-p-text;
      text-align: center;
      padding-top: 10px;
    }
  }
  .order-header{
    h4{
      font-size: 36px;
      font-weight: bold;
      text-align: center;
      padding-top: 60px;
      padding-bottom: 60px;
      @media screen and (max-width: $break-small) {
        padding-top: 40px;
        padding-bottom: 30px;
      }
    }
    select{
      padding: 10px 10px;
      border-radius: 24px;
      outline:none;
    }
  }
  .order{
    background-color: white;

    .order-filter-container {
      border: 1px solid #787784;
      border-radius: 25px;
      padding: 0;
      margin: 0;
      font-size: .9rem;

      select {
        border: 0;
        border-radius: 0;
        background: #fff;
        // font-size: .85rem;
      }
    }

    img{
      width: 100%;
    }
    h5{
      font-size: 28px;
      font-weight: bold;
      text-align: left;
      padding-top: 30px;
      @media screen and (max-width: $break-small) {
        font-size: 26px;
      }
      
    }
    p{
      font-size: 14px;
      color:$tonap-p-text;
    }

    .col-lg-3 {
      box-shadow: 1px 1px 18px 3px lightgrey;

      max-width: 23%;
      margin-left: 8px;
      margin-right: 8px;
    }

    .col-md-6 {
      max-width: 31%;
    }

    .col-12 {
      max-width: 100%;
      margin-bottom: .5rem;
    }

    .col-md-3 {
      background-color: white;
      @media screen and (min-width: $breakpoint-tablet) {
        margin-top: 10 px;
      }
    }
    button{
      outline: none;
      background-color: white;
      color: $tonap-color;
      padding: 15px 50px;
      border-radius: 24px;
      border: solid 2px $tonap-color;
      font-weight: bold;
      font-size: 12px;
      cursor: pointer;
      // margin-top: 20px;
      margin-bottom: 20px;
      &:hover{
        color:white;
        background: linear-gradient(to right,$tonap-color, #54bde2);
        border:2px solid transparent;
        // padding: 16px 52px;
      }
    }
    table{
      width: 100%;
      .delete{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      a{
        color:white;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
    td{
      border-bottom: 1px solid #ddd;
      padding: 4px 8px;
    }
    th{
      // border: 1px solid #ddd;
      padding: 8px;
    }
    tr:nth-child(even){
    }
    tr:hover {
      background-color: #ddd;
    }
    th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #ededed; // lightgrey;
      color: #808e99;
      font-size: .8rem; // 12px;
      font-weight: 500;
    }
    #detailOrder{
      tr{
        cursor:pointer;
        &:hover{
          background-color: white;
          box-shadow: -1px 1px 11px 0px #d6d6d6;
        }
      }
      td{
        vertical-align: middle;
        &:hover{
        }
        button {
          border: 0;
          padding: 0;
          margin: 0;
          outline: none;
          color: #7d8e9a;
          font-size: 1rem;
          background-color: transparent;

          &:hover {
            background: transparent;
            color: red;
          }
        }
      }
      .edit{
        cursor:pointer;
        &:hover{
          color:red;
        }
      }
      img{
        width: 50px !important;
        display: block;
        margin: 0 auto;
        min-height: 50px !important;
      }
    }
    form{
      padding-bottom: 30px;
      p{
        font-size: 14px;
        color:$tonap-p-text;
        margin-bottom: 4px;
        margin-top: 15px;
      }
      .cart-icon {
        width: 30px!important;
        height: 30px!important;
        max-height: 30px!important;
        min-height: 30px!important;
        max-width: 30px!important;
        margin-top: 0!important;
        margin-right: .5rem!important;
      }
      #stateSelect {
        option {
          &[value="Slovensko"] {
            background-image:url(https://lipis.github.io/flag-icon-css/flags/4x3/sk.svg);
          }
          &[value="Česko"] {
            background-image:url(https://lipis.github.io/flag-icon-css/flags/4x3/cz.svg);
          }
          &[value="Maďarsko"] {
            background-image:url(https://lipis.github.io/flag-icon-css/flags/4x3/hu.svg);
          }
          &[value="Poľsko"] {
            background-image:url(https://lipis.github.io/flag-icon-css/flags/4x3/pl.svg);
          }
        }
      }
    }
    input[type="text"]{
      width: 100%;
      outline: none;
      border:1px solid lightgray;
      padding: 10px 20px;
      border-radius: 4px;
    }
    textarea{
      width: 100%;
      outline: none;
      border:1px solid lightgray;
      padding: 10px 20px;
      border-radius: 4px;
      font-size: 12px;
      color:$tonap-p-text;
    }
    input[type="submit"]{
      outline: none;
      border:none;
      background: linear-gradient(to right,$tonap-color, #54bde2);
      color: white;
      padding: 15px 35px;
      border-radius: 24px;
      font-weight: bold;
      font-size: 12px;
      cursor: pointer;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    ::placeholder{
      font-size: 12px;
    }
  }
  #contact {
    @media screen and (max-width: $breakpoint-tablet) {
      top: 130px;
    }
    @media screen and (max-width: 450px) {
      bottom: 0;
      top: 100px;
    }
    .contactHolder {
      pointer-events: none;

      .contactform {
        pointer-events: all;
      }
    }
  }
}

// This will create the following classes:
// .p{side}-{spaceamounts}, .m{side}-{spaceamounts} e.g:
// .pt-3 { padding-top: 1.5rem; }, .mt-3 { margin-top: 1.5rem; }
@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space * 0.5}rem!important;
    }
  
    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space * 0.5}rem!important;
    }
  }
}
.m-auto { margin: 0 auto!important; }
.ml-50{margin-left: 50% !important;}

.position-relative{position: relative;}
.position-absolute{position: absolute;}
.top{top:0;margin-left: 50%;transform: translateX(-50%);}
.white{background-color: white;padding: 0;}
.modal{
  h4{
    color:$tonap-color;
    font-size: 24px;
    font-weight: bold;

    &.position-absolute {
      top: 0;
    }
  }
  p{
    font-size: 16px;
    color:$tonap-p-text;
  }
  h6{
    font-size: 24px;
    color:rgb(22,22,22);
    font-weight: bold;
  }
  .modal-header {
    border-bottom: 0;
    padding: 0 1rem;

    button {
      color: #3b8acc;
      margin: 0;
      padding: 0;
      border: 0 none;
      border-radius: 0;
      background: #fff;
      font-weight: 300;
      font-size: 3rem;

      &:hover {
        color: #2376bb!important;
      }
    }
  }
  .modal-body {
    padding-top: 0;
  }
  button{
      outline: none !important;
      border:none;
      background: linear-gradient(to right,$tonap-color, #54bde2);
      color: white;
      padding: 18px 50px;
      border-radius: 24px;
      font-weight: bold;
      font-size: 12px;
      cursor: pointer;
      margin-top: 20px;
  }
  .modalButton{
    background: white;
    border:2px solid grey;
    color:grey;
    margin-right: 10px;
    &:hover{
      border:2px solid white;
      background: linear-gradient(to right,$tonap-color, #54bde2);
      color:white;
    }
  }
  .activeButton{
    border:2px solid white;
    background: linear-gradient(to right,$tonap-color, #54bde2);
    color:white;
  }
  .choose{
    margin-top: 10px; 
  }
  .form-check-input{
    display: none;
  }
  .form-check-label{
    background: white;
    border:1px solid grey;
    color:grey;
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1rem;
    &:hover{
      border:1px solid white;
      background: linear-gradient(to right,$tonap-color, #54bde2);
      color:white;
    }
  }
  input[type=radio]:checked + .form-check-label{
    border:1px solid white;
    background: linear-gradient(to right,$tonap-color, #54bde2);
    color:white;
  } 
  .modal-dialog{
    @media screen and(min-width:$break-xsmall){
      min-width: 700px;
      max-width: 1000px !important;  
      width: 80% !important;
    }
    .modal-content{
      min-height: 500px;
    }
  }
}
#orderModal {
  #modalPackageType1{
    display: none;
  }
  #modalPackageType2{
    display: none;
  }
  #modalPackage1{
    display: none;
  }
  #modalPackage2{
    display: none;
  }
  .alert{
    color:red;
  }

  label {
    width: 125px;
    text-align: center;
  }
  .productItemsCount {
    width: 125px;
  
    &::after {
      content: "ks.";
      position: absolute;
      top: .75rem;
      right: 2.25em;
      transition: all .05s ease-in-out;
      color: #898989;
    }
    /*&:hover::after {
      right: 1.5rem;
    }*/

    input[type=number] {
      border: 1px solid grey;
      border-radius: 25px;
      padding: 10px 20px;
      width: 125px;
      text-align: center;
      color: #898989;
    }
  }
}
#successOrder{
  .modal-body{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
#successEmail{
  .modal-body{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.headContact{
  background-color: $tonap-color;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  p{
    color:white;
    font-weight: 500;
    margin: 0;
    margin-left: 6px;
  }
  img{
    filter: brightness(0) invert(1);
  }
}
#pills-tab{
  border-bottom:1px solid #dfdfdf;
  .nav-item{
    margin-left: 4px;
    @media screen and (max-width: $break-small) {
      width: 100%;
    }
  }
  .nav-link{
    background-color: #dfdfdf;
    color: #4d5358; // #89939c;
    font-size: 16px;
    font-weight: 500;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 14px 20px;
  }
  .active{
    background-color: #3b8acd !important;
    color:white !important;
  }
}
.cursor-pointer{
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover{
    transform:scale(1.05);
    @media screen and (max-width: $break-small) {
      transform: none;
    }
  }
  @media screen and (max-width: $break-small) {
    transition: none !important;
  }
}
.lightgrey{
  background-color: #fafafa !important;
}
.subtotal{
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  padding-left: 0;
  padding-right: 0;
  p{
    margin-top:4px !important;
    margin-bottom: 4px !important;
  }
}
.shipping{
  h6{
    color:$tonap-p-text;
    font-weight: 600;
    text-decoration: underline;
  }
  p{
    margin-top: 0 !important;
    margin-bottom:0 !important; 
    font-size: 14px !important;
    font-weight: 600;
    @media screen and (max-width: $break-small) {
      font-size: 12px !important;
      padding-left: 4px;
    }
  }
}
.payments{
  h6{
    color:$tonap-p-text;
    font-weight: 600;
    text-decoration: underline;
  }
  p{
    margin-top: 0 !important;
    margin-bottom:0 !important; 
    font-size: 14px !important;
    font-weight: 600;
    @media screen and (max-width: $break-small) {
      font-size: 12px !important;
      padding-left: 4px;
    }
  }
}
.total{
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  padding-left: 0;
  padding-right: 0;
  p{
    margin-top:4px !important;
    margin-bottom: 4px !important;
  }
}
.blue{
  color:#4187cc !important;
  font-weight: 600;
}
.buttons{
  @media screen and (max-width: $break-small) {
    margin-top: 0px !important;
    display: block !important;
  }
  button{
    padding: 12px 10px !important;
    margin-right: 30px;
    @media screen and (max-width: $break-small) {
      width: 80% !important;
      padding: 18px 10px !important;
    }
  }
  .light{
    background: white;
    color: #47535D;
    border: 2px solid #ededed;
  }
}
.cart{
  margin-left: 40px;
  margin-right: 94px;
  position: relative;

  @media screen and (max-width: $break-small) {
    margin-left: 0;
  }
  img {
    background-color: #BE7833;
    padding: 6px;
    border-radius: 32px;
    filter: invert(100%);
    position: relative;
    z-index: 1;
    @media screen and (max-width: $break-small) {
      padding: 8px;
    }
  }
  span {
    padding: 5px 10px;
    border-radius: .25rem;
    font-weight: 500;
    border: 2px solid #ececec;
    min-width: 94px;
    display: inline-block;
    position: absolute;
    left: 25px;
    top: 25px;
    text-align: right;
    @media screen and (max-width: $break-small) {
      min-width: 100px;
      left:62px;
      top:18px;
    }
  }
}

.productPrice{
  font-size: 14px;
  padding-bottom: 15px;
  strong{
    color:#4187cc !important;
    font-size: 22px;
    padding-left: 4px;
  }
}

.modal-open{
  padding-right: 0 !important;
}
.variants{
  .form-control{
    font-weight: bold;
    padding-left: 20px;
    color:black;
    @media screen and (max-width: $break-small) {
      width:80% !important;
    }
  }
  p{
    font-weight: 500;
    color:#808e99;
  }
}
.itemsCount{
  .form-control{
    font-weight: bold;
    padding-left: 20px;
    color:black;
    @media screen and (max-width: $break-small) {
      width:80% !important;
    }
  }
  p{
    font-weight: 500;
    color:#808e99;
  }
}
.action{
  border: solid 1px #43da3b;
  background-color: #caf8e0;
  border-radius: 8px;
  padding-bottom: 14px;
  padding-top: 14px;
  width: 85%;
  @media screen and (max-width: $break-small) {
    width:100%;
  }
  p{
    color: #3cb03a !important;
    padding-left: 20px;
    margin: 0;
    font-weight: 500;
  }
}
.paramters{
  p{
    font-weight: 500;
    color:#808e99;
  }
}
#actualPrice{
  color: rgb(59, 138, 204);
  font-size: 32px;
}
#totalProductPrice{
  font-size: 16px;
  @at-root p#{&} {
    margin-bottom: 2px;
  }
}
.form-check{
  label{
    font-size: 14px;
  }
}
#otherAdressHolder{
  display: none;
}
#cartCount{
  padding: 0;
  border: 0;
  background-color: red;
  min-width: 18px;
  min-height: 18px;
  width: 18px;
  z-index: 1;
  border-radius: 56px;
  color: white;
  height: 18px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 18px;
  left: 30px;
  @media screen and (max-width: $break-small) {
    top: 12px;
    left: 64px;
  }
}
.totalPrice{
  @media screen and (max-width: $break-small) {
    display: table-cell !important;
  }
}
.paylogo{
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  margin: 0 auto;
  max-width: 400px;

  i {
    color: #3177B1;
    font-size: 1.75rem;
    padding: 0 .5rem;
  }
}
.table-responsive{
  padding: 0px 4px;
}
.highlight{
  border-color: #dc35459c;
  box-shadow: 0 0 0 0.2rem #dc35459c;
}
a {
  color: #0373ea;
}